@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');

body{
   font-family: YakuHanJP, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
   font-size: 12px;
   font-weight: 300;
   line-height: 1.8; 
   margin: 0 auto;
   /* display: flex;
   flex-direction: row; */
}

/* .splashPc{
    width: 50%;
} */

/* .phoneSize{
    width: 560px;
    margin;:0 auto
} */

p{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}

.title{
    opacity: 0;
    text-align: center;
    transition: all 2s;

}

.title_visible{
    opacity: 1;
}
/* 写真のスライドショー */
    .slider_fade {
        position: relative;
        height: 240px;
    }
    
    .slider_fade > li {
        position: absolute;
        top:10px;
        right: 0;
        left: 0;
        bottom: 0;
        list-style: none;
        visibility: hidden;
        animation: anime_slider_fade 12s 0s infinite;
    }

    .slider_fade img{
        width: 100%;
        object-fit: cover;
        height: 200px;
    }
    .slider_fade > li:nth-of-type(2) {
        animation-delay: 4s;
    }
    .slider_fade > li:nth-of-type(3) {
        animation-delay: 8s;
    }
    
    @keyframes anime_slider_fade {
        0% {
            visibility: visible;
            opacity: 0;
        }
        15% {
            opacity: 1;
        }
        33.3% {
            opacity: 1;
        }
        48.3% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

.school_photo{
    width: 33%;
    }

.message{
    margin: 10px auto;
    text-align: center;
    background-color: rgba(231, 231, 231, 0.3);
    width: 68%;
    position: relative;
}


.message img{
    width: 335px;
    height: 80px;
    object-fit: cover;
    margin: 0 auto;
}

.message #photo{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.js-animation {
  opacity: 0;   /* いったん非表示 */
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1s;
}
.js-animation.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

main{
    /* position: relative; */
    display: flex;
    flex-direction: row;
}


.main_contents{
    /* position:absolute;
    top:0;
    left:50%-297px; */
    width:594px;
    /* width: 60%; */
    margin: 0 auto;
}
.sidebar_left{
    /* position: absolute;
    top:0;
    left:0; */
    width: 50%-297px;
    background-color: #cbcbcb;
}

.sidebar_right{
    /* position: absolute;
    top:0;
    right:0; */
    width: 50%-297px;
    background-color: #cbcbcb;

}

/* .sidebar_left img{
    width: 50%-297px;
}

.sidebar_right img{
    width: 50%-297px;
} */




.contents{
    border: dotted 2px rgb(150, 150, 150);
    padding: 20px;
    margin: 30px auto;
    text-align: center;
    width: 50%;
}

.contents ul li{
    list-style: none;
    text-align: center;
}

.contents a{
    text-decoration: none;
    color: #4d4d4d;
}

.contents a:hover{
    color: #8c8c8c;
}


.club{
    text-align: center;
}

.club h1{
    background: linear-gradient(transparent 60%, rgb(129, 108, 139,0.5) 30%);
    width: 250px;
    margin:20px auto;
}

.sport,.culture{
    background-color: #c2c2c2;
    width: 300px;
    margin:20px auto;
    border-radius: 10px;
    display: block;
}

.sport img{
    margin-top: 20px;
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.culture img{
    margin-top: 20px;
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.sport a{
    text-decoration: none;
    color: #4d4d4d;
    text-align: center;
    line-height: 30px;
}

.culture a{
    text-decoration: none;
    color: #4d4d4d;
    text-align: center;
    line-height: 30px;
}

/* @media only screen and (max-width: 594px){
    {
       
    } 
} */

.shop{
    text-align: center;
    /* border-top: dotted 2px #666666; */
    background-color: #8a8176;
    position: relative;
}

.shop h1{
    position: absolute;
    top:10px;
    left:0;
    right: 0;
    font-family: 'Sacramento', cursive;
}

.shop #p{
    position: absolute;
    top:45px;
    left:0;
    right: 0;
    font-family: 'Itim', cursive;;
}

.shop_list img{
    width: 200px;
    margin: 30px;
}



.c-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 0 15px;
  }
  




    .swiper {
      width: 100%;
      height: 400px;
      margin-bottom: 50px;
    }


    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    /* スライドの動き等速 */
.swiper-wrapper {
    transition-timing-function: linear;
  }

    .swiper-slide img {
        display: block;
      width: 180px;
      height: 130px;
      zoom: 200%;
      object-fit: cover;
    }

    .swiper-slide p {
        font-family: "M PLUS Rounded 1c"; 
        font-size: 10px;  
    }

.introduce_shop img{
    width: 594px;
    margin-top: 10px;

}

.course_img{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#left_radius{
    border-radius: 10px 0 0 10px;
}

#right_radius{
    border-radius: 0 10px 10px 0;
}


.course_box h1{
    font-family: 'Kaisei HarunoUmi', serif;
    text-align: center;
}

.school_life{
    height: 400px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.school_life h1{
    background-color: #3f4a3c;
    padding: 10px;
}

swiper-slide img{
    width: 100%;
    height: 232px;
    object-fit: cover;
}


/*少しずらしたボックス*/
.form{
    margin: 2em auto;
    padding:2em;/*内側の余白*/
    background: none;/*元のボックス背景色なし*/
    border:1px solid #ccc ;/*線の太さ・種類・色*/
    position: relative;/*配置（基準）*/
    }
    .form:after{
    background-color:#eee;/*ずらしたボックスの背景色*/
    border:none;
    content: '';
    position: absolute;/*配置（ここを動かす）*/
    top: 7px;/*上から7pxずらす*/
    left: 7px;/*左から7pxずらす*/
    width: 100%;
    height: 100%;
    z-index: -1;
    }

    .form h2{
        text-align: center;

    }


@media screen and (max-width: 1080px){

    body{
        margin: 0;
    }
    
    .main_contents{
        width:100vw;
    }
    
    img{
        width: 100%;
    }

    .introduce_shop img{
        width: 100vw;
    }
          
    
    .element img{
        width:100%;
        object-fit: cover;
    }
    
    .message{
        width: 100vw;
    }
    
    .message img{
        height: 98px;
        /* margin-bottom: 30px; */
    }
    
    .contents{
        width: 70%;
        padding: 0 10px 10px;
    }

    .swiper{
        height: 80vw;
    }

    .swiper-slide img{
        width:25vw;
        height: 10vh;
    }

    .message #photo{
        height: 422px;
    }

    .form{
        margin: 5%;
    }

    .school_life{
        background-color: #707a6d;
        height: 350px;
        text-align: center;
    }

    }
    