body {
    margin: 0;
  }
  
  #header {
    position: fixed;
    display: flex; /* ヘッダー内のコンテンツを横並びにする */
    width: 100%;
    height: 60px;
    top: 0;
    background-color: #fff;
  }
  
  #header h1{
    margin: 10px auto;
    font-family: 'Kaisei HarunoUmi', serif;
  }
  
  #hamburgermenu {
    position: relative;
    width: 40px;
    height: 40px;
  }
  
  /* 要素のサイズ計算を容易にする */
  #hamburgermenu,
  #hamburgermenu * {
    box-sizing: border-box;
  }
  
  /* メニューアイコン */
  .hamburgermenu__icon {
    margin: 8px;
  }
  .hamburgermenu__icon:hover {
    cursor: pointer; /* アイコンにマウスカーソルを合わせるとカーソルのアイコンを変える */
  }
  
  /* ナビゲーション */
  .hamburgermenu__nav {
    position: fixed;
    width: 300px;
    max-width: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 8px;
    background-color: #fff;
    overflow-y: auto; /* ナビゲーションが長い場合にスクロールできるようにする */
    transition: 250ms; /* ナビゲーションのスライドイン/アウトにかける秒数 */
    transform: translateX(-100%); /* 横幅と同じ分だけ左側に移動させる */
    z-index: 2; /* ハンバーガーメニューの要素の中では一番上に表示されるようにする */
  }
  
  #hamburgermenu.active .hamburgermenu__nav {
    transform: translateX(0);
  }
  
  /* マスク */
  .hamburgermenu__mask {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000a;
      visibility: hidden;
      z-index: 1;
  }
  #hamburgermenu.active .hamburgermenu__mask {
      visibility: visible;
  }

  main{
    width:594px;
    margin: 0 auto;

  }

  .event{
    text-align: center;
    background-color: #f3f0ec;
    padding: 30px;
  }

  .int_box{
    display: flex;
    align-items: center;
    text-align: left;
  }

  .event h2{
    border-bottom: 3px dotted #000;
  }


  .event img{
    width: 30%;
  }

  .bold{
    font-weight: bold;
  }

  #margin-top{
    margin-top: 50px;
  }

  .school_structure img{
    width: 90%;
    height: 200px;
    object-fit: cover;

  }

  .school_structure{
    background-color: rgb(207, 177, 166);
    text-align: center;
    padding: 20px auto;
    border-radius: 10px;
    }

    .school_structure h2{
        padding-top: 30px;
    }

    .school_class{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 5px;
    }

    .school_structure a{
        text-decoration: none;
        color: #000;
        font-size: 25px;
        padding-top:10px ;
    }

    .school_structure a:hover{
        color: rgb(49, 49, 49);
    }

    p{
        margin: 0;
        padding: 0;
    }

    .pc_introduce img{
        width: 100%;
        margin-top: 10px;
    }

    footer{
        height: 40px;
        background-color: rgb(93, 90, 94);
        color: #fff;
        text-align: center;
        padding: 10px;
    }

    @media only screen and (max-width: 594px) {

        main{
            width: 100vw;
        }

        .school_class {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
          }
      
        .school_structure img {
          width: 90%;
          height: 100px;
          object-fit: cover;
        }

      }






  