@charset "UTF-8";

body{
    font-family: system-ui;
    margin:0 75px;
    position: relative;
    /* border-top: 10px solid #635798; */
    
}

a{
  text-decoration: none;
  color: #333;
}

.title{
    z-index: 1;
    text-align: center;
}
.school_photo{
    width: 33%;
}

/* *{
    text-align: center;
} */

/* .photo1{
    margin-left: 100px;
} */


.photo_1{
   display: flex;
   flex-direction: row;
   width: 100%;
   text-align: center;
   }
  
.school_photo{
  justify-content: space-around;
}

/* .school_photo.slidein.is-animated {
    animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  }
   
  @keyframes slideIn {
    0% {
      transform: translateX(180px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
    }
    40%,100% {
      opacity: 1;
    }
  }
    */

.list_menu {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.list_menu ul {
  display: flex;
}

.list_menu ul li {
  width: 200px;
  min-width: 200px;
  text-align: center;
  list-style: none;
  border-right: 1px solid #ddd;
}

.list_menu ul li:first-child{
  border-left: 1px solid #ddd;
}


.list_menu ul li a{
  display: block;
}

.list_menu ul li:hover{
  background-color: #eaeaea;
}
/* 
#photo_1_first{
    margin-left: 200px;
} */

/* .message{
    background-color: rgb(200, 180, 203);
    color: white;
    width: 700px;
    padding: 20px;
    border-radius: 3px;
    margin: 10px auto ;
} */
.message{
    position: relative;
    background: #d6bde0;
    box-shadow: 0px 0px 0px 5px #dbc2e6;
    border: dashed 2px white;
    padding: 1.0em 1.3em;
    color: #454545;
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.message:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #d5d2dd #fff #aca79d;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.message p {
    margin: 0; 
    padding: 0;
}



.box_3 {
    width: 100%;
    /* background-color: rgb(150, 150, 150); */
    transform-origin: top left;
    transition: transform .3s;
  }

.box_3 h1{
  font-size:5em;
  margin-top: 10px;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FDF5E6;
	text-shadow:
		1px -1px 1px #BDBDBD,
		-1px 2px 1px #737272,
		-2px 4px 1px #767474,
		-3px 6px 1px #787777,
		-4px 8px 1px #424242,
		-5px 10px 1px #616161,
		-6px 12px 1px #757575,
		-7px 14px 1px #9E9E9E,
		-8px 16px 1px #BDBDBD,
		-9px 18px 1px #E0E0E0;
}

  .box_3_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 30px;
  }

  .box_3 img{
    width: 100%;
    height: auto;
  }

  .box_3:hover {
    cursor: zoom-in;
  }
  
  /* .box_3.scale {
    transform: scale(4, 4);
  } */

  .scale {
    transform:translateX(170%) scale(4,4)
  }
  
  .box_3.scale:hover {
    cursor: zoom-out;
  }

.title {
animation-name: titleAnime;
animation-duration:3s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes titleAnime{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.box_4{
    text-align: center;
}

#whatnew {
position: relative;
background-color: #ffc4c4;
padding: 2px 10px;
color: #333;
border-radius: 10px;
box-shadow: 6px 6px 0px 0px #f05b5b;
width: 50%;
text-align: center;;
margin: 0 auto;
margin-bottom: 20px;
}

.boxall{
  
  margin: 2em auto;
  padding:2em;
  border:dashed 2px #909792;
  margin: 2em auto;
  background-image: linear-gradient(0deg, transparent 19px, #ccc 20px),linear-gradient(90deg,  transparent 19px, #ccc 20px);
  background-size: 20px 20px;
  z-index: 1;
  /* リボンよりこれを前にもってきたい */
}


#whatnew::before {
content: "";
position: absolute;
border: 12px solid transparent;
border-top: 12px solid #ffc4c4;
left: 30px;
bottom: -30px;
border-top: 18px solid #f05b5b;
border-right: 20px solid transparent;
border-left: 20px solid transparent;
}

#whatnew::after {
content: '';
position: absolute;
display: block;
width: 0;
height: 0;
left: 22px;
bottom: -15px;
border-top: 16px solid #ffc4c4;
border-right: 20px solid transparent;
border-left: 20px solid transparent;
}

.img_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .img_box img{
    width: 60%;
    height: auto;
    flex-flow: row wrap;
   }

   .scroll-up {
    opacity: 0; 
    visibility: hidden;
    transform: translateY(50px);
    transition: all 1s;
  }
  .scroll-up.is-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }

.shop_list_container{
  display: flex;
  background-color: rgb(181, 156, 226);
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  box-shadow: 15px 15px 0px 0 rgb(80, 76, 98);
  justify-content: space-between;
}
.list_shop{
  list-style: none;

}


.bread{
    width: 200px;
    height: auto;
    flex-direction: column;
    display: flex;
}

.bread_box{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5989cf;
    background: #c6e4ff;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
    display: flex;
    width: 50%;
}

.bread_box p{
    flex-direction: row;
    line-height: 100px;
}

.bread_box img{
    margin: 0; 
    padding: 0;
    width: 40%;
}

.bread_introduce{
  margin-top: 50px;
  text-align: center;
  font-size:4em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FFAB91;
	text-shadow: 0.02em 0.02em 0.02em rgba(0,0,0,1);
}

@import url(https://fonts.googleapis.com/css?family=Nixie+One);

.ribbon {
  font-family: 'Nixie One', cursive;
  font-size: 20px;
 width: 50%;
    
 position: relative;
 background:  #899fb3;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid#597188;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon-content:before, .ribbon-content:after {
 content: "";
 position: absolute;
}

.events_box_container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  /* position: relative; */
}

.events_box{
  /* border: solid 2px #424242; */
  width: 40%;
  background-color: #d9d9d9;
  border-radius: 20px;
  box-shadow: 12px 15px 0px 0 rgb(117, 117, 117);
}
/* 
.events_box::after{
  width: 40%;
  background-color: #737272;
  border-radius: 20px;
  right:30px;
  bottom:30px;
} */

.events_box a{
  display: block;
  text-decoration: none;
  text-align: center;
  color: #333;
}

.events_box_img img{
  width: 80%;
  margin: 20px auto 0;

}

/* .events_box_container section:nth-of-type(1) .events_box_img{
  background: url(https://crp01.c4a.im/images/item/13599616/21a875e0eedef3d8e013918213e1e05160650a8ec5a138a1c45d9b1e53936be6?d=583x585) no-repeat center;
  background-position-x: center;
  background-position-y: center;
  
} */

.fade {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 1.5s, transform 1s;
}.fade.active {
	opacity: 1;
	transform: translateY(0px);
}

.googleform{
  display: flex;
  flex-direction: row;
}

.googleform img{
  height: 400px;
  width: auto;
  text-align: center;
}


.hide-area{/*モーダル表示をする場所をあらかじめ隠す*/
  display: none;
}

.modaal-fullscreen .modaal-content-container{/*full画面の色設定*/
  background: #333;
  color: #fff;
  text-align: center;
}

.modaal-fullscreen .modaal-close{/*ボタンの色、位置*/
  background:none;
  right:20px;
}

/*クローズボタンの×の色変更*/
.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
  background:#666;
}

/*キャプション*/
.caption{
    display: block;
    padding: 10px 0;
}

/*===　サムネイル表示のためのcss　*/

.gallery{/*ベースになるギャラリーを横並びに*/
  display: flex;
    justify-content: space-between;
}

.gallery li{
  width:33.333%;
    padding: 0 10px;
}

/*画像の横幅を100%にしてレスポンシブ化*/
img{
  max-width:100%;
  height:auto;
  vertical-align: bottom;/*画像の下にできる余白を削除*/
}

/*========= レイアウトのためのCSS ===============*/

ul{
  margin:0;
  padding: 0;
  list-style: none;
}

a{
  color: #333;
}

a:hover,
a:active{
  text-decoration: none;
}

/* h1{
  text-align: center;
  font-size:6vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin:30px 0;
}

p{
  margin:0 10px 10px 10px;
  word-wrap : break-word;
} */

